/* Simple CSS Reset */

* {
    box-sizing: border-box;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

img {
    border-style: none;
    max-width: 100%;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    cursor: pointer;
}

a {
    background-color: transparent;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
}